.image-card {
  width: 100%;
  max-width: 300px;
  margin: auto;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.image-card img {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s ease;
}

.image-card:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.image-card:hover img {
  transform: scale(1.05);
}
u {
  text-decoration: underline;
  text-decoration-color: rgb(52, 230, 96);
}